# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
sample/workspace/*

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
doc/build/

# PyBuilder
target/

#Ipython Notebook
.ipynb_checkpoints

opencv-2.4.11
*.zip

# APK
.gradle
stve/library/adb/apk/*/local.properties
stve/library/adb/apk/*/.idea/workspace.xml
stve/library/adb/apk/*/.idea/libraries
stve/library/adb/apk/*/.DS_Store
stve/library/adb/apk/*/app
stve/library/adb/apk/*/build
stve/library/adb/apk/*/captures

# JAR
stve/library/*.apk
stve/library/*.ap_
stve/library/*.dex
stve/library/*.class
stve/library/adb/jar/*/bin/
stve/library/adb/jar/*/gen/
stve/library/adb/jar/*/local.properties
stve/library/adb/jar/*/.classpath
stve/library/adb/jar/*/.project
stve/library/adb/jar/*/proguard/
*.iml
*.ipr
*.iws
stve/library/adb/jar/*/.idea/workspace.xml
stve/library/adb/jar/*/.idea/tasks.xml
stve/library/adb/jar/*/.idea/libraries/
stve/library/adb/jar/*/.gradle
stve/library/adb/jar/*/build
